{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Suscripciones a Categorías</h2>
    <div>
        {% for categoria in categorias %}
            <div class="categoria card m-2" data-categoria-id="{{ categoria.id }}" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ categoria.nombre }}</h5>
                <div>
                    {% if categoria.id in categorias_suscritas %}
                        <!-- Botón para desuscribirse -->
                        <button class="btn btn-danger" id="btn-desuscribirse-{{ categoria.id }}" data-id="{{ categoria.id }}">Desuscribirse</button>
                    {% else %}
                        <!-- Botón para suscribirse -->
                        <button class="btn btn-primary" id="btn-suscribirse-{{ categoria.id }}" data-id="{{ categoria.id }}">Suscribirse</button>
                    {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
    </div>   
    <script src="{% static 'sitio/js/gestionar_suscripciones.js' %}"></script>
{% endblock %}
