{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'sitio/css/home.css' %}">
</head>

<body>
    {% block content %}
    <form method="GET">
        <div class="form-row m-3 border">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="categoria">Categoría:</label>
                    <select name="id_categoria" class="form-control">
                        <option value="">...</option>
                        
                        <!-- Cargamos las categorías en el select, y dejamos seleccionada por la que haya filtrado -->
                        {% for categoria in categorias %}
                            {% if categoria.id|add:"0" == categoria_seleccionada|add:"0" %}
                                <option value="{{ categoria.id }}" selected>{{ categoria.nombre }}</option>
                            {% else %}
                                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="fecha_hasta">Fecha Hasta:</label>
                    <input type="date" name="fecha_hasta" class="form-control" value="{{ fecha_hasta_seleccionada }}">
                </div>
                <!-- No tiene sentido que el usuario filtre por estado si no esta autenticado (solo le aparecen los descuentos publicados)-->
                {% if user.is_authenticated %}
                <div class="form-group col-md-3">
                    <label for="estado">Estado:</label>
                    <select name="estado_descuento" class="form-control">
                        <option value="">...</option>
                        
                        {% for estado in estados %}
                            {% if estado == estado_seleccionado %}
                                <option value="{{ estado }}" selected>{{ estado }}</option>
                            {% else %}
                                <option value="{{ estado }}">{{ estado }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
                {% endif %}
                <div class="form-group col-md-3">
                    <label for="ordenamiento">Ordenar:</label>
                    <select name="ordenamiento_seleccionado" class="form-control">
                        <option value="">...</option>
                
                        {% for orden in ordenamiento %}
                            {% if orden.0 == ordenamiento_seleccionado %}
                                <option value="{{ orden.0 }}" selected>{{ orden.1 }}</option>
                            {% else %}
                                <option value="{{ orden.0 }}">{{ orden.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group col-md-3">
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </div>
            </div>
        </div>
    </form>
    <meta name="csrf-token" content="{{ csrf_token }}">

        {% for descuento in lista_descuentos %}
            <!--Usamos este atributo para saber el id de cada descuento en JavaScript-->
            <div data-descuento-id="{{ descuento.id }}" class="card m-3">
                <h3 class="card-header">{{ descuento.nombre }}</h3>
                <div class="card-body">
                    <p class="card-text">{{ descuento.descripcion }}</p>    
                    <a href="{% url 'detalle_descuento' descuento.id %}">Ver detalles</a>

                    <!-- Este if previene que un usuario interactue con sus propios descuentos -->
                    {% if descuento.usuario_creador.id != user.id %}
                    <div class="row m-1">
                        <div class="col-md-2">
                            <button class="btn" id="green-{{ descuento.id }}"><i class="green fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
                            <span id="votos-positivos-{{ descuento.id }}"></span>
                        </div>
                        <div class="col-md-2">
                            <button class="btn" id="red-{{ descuento.id }}"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>
                            <span id="votos-negativos-{{ descuento.id }}"></span>
                        </div>
                    </div>                  
                    <button id="retirar-voto-{{ descuento.id }}" class="btn btn-warning" style="display: none;">Retirar Voto</button>
                    <div>
                        <!--El atributo data-url es para conocer la url en JavaScript-->
                        <button id="guardar-{{ descuento.id }}" class="btn btn-danger" data-url="{% url 'guardar_descuento' %}">Guardar</button>
                    </div>
                    {% else %}
                    <div class="m-1">
                        <button id="eliminar-{{ descuento.id }}" type="button" class="btn btn-primary">eliminar</button>
                    </div>                      
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        
        <script src="{% static 'sitio/js/home.js' %}"></script>
    {% endblock %}
</body>