{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'sitio/css/home.css' %}">
</head>

<body>
    {% block content %}
        <form method="GET">
            <label for="categoria">Categoría:</label>
            <select name="categoria_id">
                <option value="">...</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        
            <label for="fecha_hasta">Fecha Hasta:</label>
            <input type="date" name="fecha_hasta">
        
            <label for ="cant_votos">Cantidad votos:</label>
            <input type="form_control" id="formControl" name = "cant_votos">

            <button type="submit">Filtrar</button>
        </form>

        <!--Usamos este atributo para saber el csrf_token en JavaScript-->
        <meta name="csrf-token" content="{{ csrf_token }}">

        {% for descuento in lista_descuentos %}
            <!--Usamos este atributo para saber el id de cada descuento en JavaScript-->
            <div data-descuento-id="{{ descuento.id }}" class="card">
                <h3 class="card-header">{{ descuento.nombre }}</h3>
                <div class="card-body">
                    <p class="card-text">{{ descuento.descripcion }}</p>    
                    <a href="{% url 'detalle_descuento' descuento.id %}">Ver detalles</a>
                    {% if descuento.usuario_creador.id != user.id %}
                    <div>
                        <button class="btn" id="green-{{ descuento.id }}"><i class="green fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
                        <span id="votos-positivos-{{ descuento.id }}"></span>
                    </div>
                    <div>
                        <button class="btn" id="red-{{ descuento.id }}"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>
                        <span id="votos-negativos-{{ descuento.id }}"></span>
                    </div>

                    <div>
                        <!--El atributo data-url es para conocer la url en JavaScript-->
                        <button id="guardar-{{ descuento.id }}" class="btn btn-danger" data-url="{% url 'guardar_descuento' %}">Guardar</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        
        <script src="{% static 'sitio/js/home.js' %}"></script>
    {% endblock %}
</body>