body{
background-color: #B7E0FF;
}

.mi_navbar{
background-color: #1E3E62;
}

button{
cursor: pointer;
outline: 0;
color: #AAA;

}

.btn:focus {
outline: none;
}

.green{
color: green;
}

.red{
color: red;
}

.publicado{
    background-color: green;
}

.revision{
    background-color: red;
}

.fondoC{
    background-color: #FF9D3D;
}