body{
background-color: #B7E0FF;
font-family: 'DM Sans', sans-serif;
font-weight: bold;
}

.mi_navbar{
background-color: #1E3E62;
}

button{
cursor: pointer;
outline: 0;
color: #AAA;

}

.btn:focus {
outline: none;
}

.green{
color: green;
}

.red{
color: red;
}

.publicado{
    background-color: green;
}

.revision{
    background-color: red;
}

.fondoC{
    background-color: #f1f1f1;
}

.info-image{
    max-width: 100%;     /* Asegura que la imagen no exceda el ancho de su contenedor */
    height: auto;        /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Opcional: redondea las esquinas */
    display: block;      /* Asegura que la imagen sea tratada como bloque */
    margin: 0 auto;      /* Centra la imagen horizontalmente */
}

.FondoC2{
    background-color: #AAA;
}

.card{
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.eliminarC{
    display: flex;
    width: 400px;
}